# Gradle files
.gradle/
local.properties

# IntelliJ/Android Studio project files
.idea/
*.iml

# Mac OS
.DS_Store

# Build output
/build/
**/build/

# External native build
.externalNativeBuild/
.cxx/

# Captures
/captures/
